<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>{{topic}}</h1>
    <input type="text" v-model="link">
    <br>
    <a v-bind:href="link">{{link}}</a>
    <form action="" v-on:submit.prevent="saveTask">
      <input v-model= "newTask" type="text">
      <input type="submit" value="Guardar">
    </form>
       
    <input v-model="height" type="range">Alto
    <br>
    <input v-model="width" type="range">Ancho
    <br>
    <img :src="completeURL" alt="">
    <hr>
    <ul>
      <li v-for="task in tasks">
        {{task}}
      </li>
    </ul>
 

    <pre>{{ $data }}</pre>
  </div>
  <hr>
  <div id="list">
 <p v-for="(valor, propiedad) in user">{{ valor }} : {{ propiedad }}</p>
        <hr>
        <li v-for="(task, index) in tasks">{{ index }} - {{ task.name }}</li>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="index.js"></script>
  <script src="listado.js"></script>
</body>
</html>